<!-- <div class="dashboard-container">
    <h1>Student List</h1>
    
    <table class="student-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>User Name</th>
          <th>Mobile Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList, let i=index">
          <td>{{ i +1 }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
         
          <td>{{ student.email }}</td>
          <td>{{ student.username }}</td>
          <td>{{ student.mobile_number }}</td>
 
        </tr>
      </tbody>
    </table>
   
  </div>
  <h2>WELCOME DOCQUITY MEMBERS</h2> -->


  <div class="dashboard-container">
    <h1>Student List</h1>
  
    <table class="student-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>User Name</th>
          <th>Mobile Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.username }}</td>
          <td>{{ student.mobile_number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <h2 class="welcome-text">WELCOME DOCQUITY MEMBERS</h2>
  


  <button
  class="logout-button"
  (click)="logout()"
>
  Logout
</button>